@media screen and (min-width: 1200px) {
    .container {
      max-width: 1115px;
    
    }

    /*------DESKTOP-NAVIGATOR-----*/

    header {
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: #E7E9FC solid 1px;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
       0px 1px 1px rgba(46, 47, 66, 0.16),
       0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    
    .logo {
      color: #4d5ae5;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.3;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 76px;
    
    }
    
    .studio-up {
      color: var(--brand-color);
      
    }
    
    
    
    .navigator {
      display: flex;
      align-items: center;
    }
    
    .menu-item {
      margin-right: auto;
      position: relative;
      
    }
    
    .menu {
      list-style-type: none;
      display: flex;
      gap: 40px;
    
    }
    
    .header > .container  {
      display: flex;
    }
    
    .menu-link {
      color: var(--brand-color);
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: none;
      transition: color var(--transition-duration) var(--animation-timing-function);
    }
    
    
    .menu-link:hover,
    .menu-link:focus {
      color: #4d5ae5;
      
    }
    
    .menu-link.current {
      color: #404bbf;
    }
    
    .menu-link.current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -100%;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      display: block;
      background-color: #404bbf;
    }
    
    .tel-mail {
      color: #434455;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: none; 
      transition: color var(--transition-duration) var(--animation-timing-function);
    }
    
    
    .tel-mail:hover,
    .tel-mail:focus {
      color: #4d5ae5;
    }
    
    .mail-tel {
      list-style-type: none;
      display: flex;
      margin-left: 332px;
      
    }
    
    .menu-mail {
      margin-right: 40px;
      
    }


    /*-----DESKTOP-SECTION-DARK------*/


    .dark {
      background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url('../images/pct-desktop/people-office-desktop.jpg');
  
      width: 1440px;
      height: 600px;
      padding: 188px 0;

    }
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .dark {
      background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
  url('../images/pct-desktop/people-office-desk-2x.jpg');
}
}
    
    .title {
      font-size: 56px;
    }

    /*-----DESKTOP-SECTION-ONE------*/

    .section-one {
      display: flex;
      gap: 24px;
      margin: 0 auto;
    }

    .first-icon-list {
   
      display: flex;
      justify-content: center;
      align-items: center;
      width: 264px;
      height: 112px;
      background: #F4F4FD;
      border-radius: 4px;
      margin-bottom: 8px;
      margin-top: 120px;
      
        }
      
      .first-icon {
        display: flex;
        justify-content: center;
        gap: 24px;
        
      }
    
      
      .work-item { 
        width: 264px;
        flex-basis:calc(( 100% - 72px ) / 4);
      }


    /*-----------DESKTOP-What are we doing----------*/
    
    
    .second {
      display: block;
      padding-bottom: 120px;
  }
    
  .section-two {
    list-style-type: none;
    display: flex;
    gap: 24px;

  }
      
      .title-two {
        color: var(--brand-color);
        font-weight: 600;
        font-size: 36px;
        line-height: 1.1;
        margin-top: 240px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 72px;
        margin-top: 120px;
        
      }
      
      .pct-doing {
        flex-basis:calc(( 100% - 48px ) / 3);
        
      }

      /*-----------DESKTOP-TEAM----------*/

      .team-item {
        width: calc((100% - 72px) / 4);
      }


  
  /*-----------DESKTOP-CUSTOMERS----------*/
  
    .customers-list {
      flex-wrap: nowrap;
      gap: 24px;
      padding-bottom: 120px;
     
    }
    
    .customers-list-link { 
    width: 168px;
    
  }
  
  /*--------DESKTOP-FOOTER---------*/
  
  
  .the-end {
    display: flex;
  flex-grow: 1;
  }


.text {
  width: 264px;
  margin-right: 120px;

}

.test {
  display: flex;
  align-items: baseline;

}

.media-container {
  width: 208px;
  height: 80px;
}

.media-list {
  gap: 24px;
  margin-bottom: 32px;
  margin-right: 80px;
}


.media-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-container {
  justify-content: center;
  width: 453px;
  height: 80px;
  margin-left: 80px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: center; 
  
}



/*.subscribe-form-field {*/


.subscribe-form-input {
  width: 264px;
}



.subscribe-form-btn-wrapper {
  justify-content: center;
  column-gap: 10px;
  
  
}
.subscribe-btn {
  display: flex;
 margin-left: 24px;
 padding: 8px 24px;
 gap: 16px;

}

}